    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        {{!-- <a class="navbar-brand" href="#">Bootcamp Connect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> --}}
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/userbio/:id">My Bio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feed">Feed</a>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="log-out">Logout</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
    <nav id="peernavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    {{!-- <a class="navbar-brand" href="#">Bootcamp Connect</a> 
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button> --}}
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/userbio/:id">My Bio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feed">Classmate Bios</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="log-out">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main id="bio">
  <div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://picsum.photos/400/400" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{bio.user.name}}</h5>
        <p class="card-text text-body-secondary">{{favorite_quote}}</p>
        <p class="card-text text-body-secondary">{{bio.birth_day}}</p>
        <p class="card-text text-body-secondary">{{bio.favorite_movies_or_tv_shows}}</p>
        <p class="card-text text-body-secondary">{{bio.favorite_songs}}</p>
        <p class="card-text text-body-secondary">{{bio.favorite_hobby}}</p>
        <p class="card-text text-body-secondary">{{bio.github}}</p>
        <p class="card-text text-body-secondary">{{bio.linkedin}}</p>
      </div>
    </div>
  </div>
</div>
  </main>
  <script src="/js/logout.js"></script>